<h1>Shopping Cart for <%= current_user.email %></h1>

<table class="table table.hover">
    <tr>
        <th> Item Name </th>
        <th> Item Cost </th>
    </tr>
    <% @items.each do |item| %>
    <tr>  
        <td> <%= item.name %> </td>
        <td> <%= item.price %> </td>
        <td><%= link_to 'Remove', shopping_cart_item_remove_item_path(@shopping_cart, item.id), class: 'btn btn-primary', method: :patch%></td>
    </tr>
    <% end %>
</table>