<div class='col-md-6'>
  <div class='col-md-6'>
    Item: <%= @item.name %>
  </div>
  <br />
  <div>
    Price: <%= @item.price %>
  </div>
  <br />
</div>
  <br />
  <div class='col-md-6'>
    <div>
    Description: <%= @item.description %>
  </div>
</div>


<%= link_to  "Add Item to Shopping Cart", shopping_cart_item_add_item_path(@shopping_cart, @item, @category), class: 'btn btn-primary', method: :patch %>
