

<div>
  <%= @item.name %>
</div>
<div>
  <%= @item.price %>
</div>
<div>
  <%= @item.description %>
</div>


<%= link_to  "Add Item to Shopping Cart", shopping_cart_item_add_item_path(@shopping_cart, @item), class: 'btn btn-primary' %>