// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-category {
    margin-top: 20px;
}

.categoryStyle {
    border: solid black 2px;
    border-radius: 25px;
    margin: 10px;
    background-color: azure;
    height: 250px;
}

.selectButton {
    padding-top: 25px;
    padding-bottom: 25px;
}

.btnSelect {
    color: black;
    background-color: mediumaquamarine;
    ;
}

.adminButtons {
    padding-bottom: 25px;
}
