<h1>Categories</h1>

<% if @categories.empty? %>
    <h3>Please create catagory.</h3>
<% else %>
    <div class="container">
        <% @categories.each do |category| %>
        
        <div class="row">
            <div class="col-md-4">
                <h2><%= category.name %></h2>
                <%= link_to 'Select Category', category_items_path(category), class: 'btn btn-primary' %>
            </div>
        </div>
        
        
        <% end %>
    </div>
<% end %>
    
    